/*styles*/
header.masthead{
	background: none !important;
}

/*#myshows{
	padding-top: calc(3rem + 72px);
}*/
.show{
	display: inline-block;
}

.playlist{
	padding-top: calc(3rem + 72px);

}

/*#lightSlider{
	padding-top: calc(3rem + 72px);
}*/

input[type=text]{
	float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 16px;
}

#search{
	display: inline-block;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}
body {
	background: url(/Downloads/memphis-colorful/memphis-colorful.png) repeat 0 0;
}